@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
}
.App{
     
    min-height: 85vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  

}
#heading{
   margin: 30px;
    text-align: center;
}
.wrapper{

    font-family: 'Merriweather', serif;
    
    
}
.inputs{
  margin: 20px;
  padding: 10px;
  border: 0.3px solid;
  border-radius:2px;
  box-shadow: 0px 0px 2px; 
}
.btn{
    margin:10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px;
}
form{
    padding: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 0px 10px grey;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin:2% 0%;
    background: rgb(253, 249, 240);
    text-align: center;
    font-weight: 600;
}